*{
    margin: 0%;
    padding: 0%;
    border: 0;
}

body{
    background: #27282e;
}

p{
    color: aliceblue;
    font-size: 120%;
    line-height: 155%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h3{
    font-size: 175%;
    line_height: 155%;
    font-weight: 500;
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    color:aliceblue;
    text-decoration: none ;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 300ms;
}

#men:hover{
    color:rgba(220, 220, 220, 0.644);
    font-size: 115%;
   
}

img{
    display: block ;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -5px;
}

div.wrapper {
    max-width: 1200px;
    margin:  0 auto;
}

div.banner-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 3% 0;
    }

 header{
     width: 100%;
     height: 100px;
     top: 0;
     left: 0;
 }   




nav{
    float:right;
    padding: 25px 20px 25px 20px ;
    background:#161618;
    border-radius: 3%;
}

 header #logo img{
     float:left;
     width: 100px;
 }
 header #logo2 img{
    margin-top: 2%;
    float:left;
    width: 250px;
}

 ul{
     list-style: none;
 }

nav ul li{
font-size: 150%;
display:inline-block;
float:left;
padding: 10px;
}


 .active{
     color: #00e1ff ;
 }

.one_third_padding{
    width: 29%;
    float: left;
    margin: 2%;
}

footer{
background:#161618;
width: 100%;
overflow: auto;
}
.img1{
    width: 70%;
}
.img2{
    width: 93%;
}
.img3{
    width: 83%;
}
.slide-wrap{
   margin-top: 5%; 
   
}

